<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>
        <main class="login-wrapper">

            <h1>
                <%= title %>
            </h1>

            <%- messages() %>

                    <form id="loginForm" action="/account/login" method="post">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" required placeholder="Enter a valid email address">

                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

                        <button type="submit" class="login-btn">Login</button>
                    </form>

                    <p class="register-link">
                        No account yet?
                        <a href="/account/register">Register here</a>
                    </p>

        </main>
</body>

</html>