<% const d=new Date(); const year=d.getFullYear(); %>
    <footer>
        <p class="copyright">© <%= year %>, CSE 340 App</p>
        <p class="small"><a href="/errors/trigger">Trigger test 500</a> (intentional error for testing)</p>
    </footer>