<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Classification</title>
</head>

<body>
            <main>
                <h1>Add New Classification</h1>

                <!-- Flash message -->
                <% if (messages && messages.length> 0) { %>
                    <div class="notice">
                        <%= messages %>
                    </div>
                    <% } %>

                        <!-- Validation errors -->
                        <% if (errors && errors.length> 0) { %>
                            <div class="errors">
                                <% errors.forEach(err=> { %>
                                    <p>
                                        <%= err.msg %>
                                    </p>
                                    <% }) %>
                            </div>
                            <% } %>
                                <p>Field is required</p>
                                <form id="addClassificationForm" action="/inv/add-classification" method="post">
                                    <label for="classification_name">Classification Name:</label>
                                    <input type="text" id="classification_name" name="classification_name"
                                        pattern="^[A-Za-z0-9]+$" required>
                                    <p class="form-hint">
                                        * Classification name cannot contain spaces or special characters.
                                    </p>

                                    <button type="submit">Add Classification</button>
                                </form>
            </main>

</body>

</html>