<main class="inv-page">
    <h1 class="class-heading">Add New Classification</h1>

    <% if (messages && messages.length> 0) { %>
        <div class="class-flash">
            <%= messages %>
        </div>
        <% } %>

            <% if (errors && errors.length> 0) { %>
                <div class="inv-errors">
                    <% errors.forEach(err=> { %>
                        <p>
                            <%= err.msg %>
                        </p>
                        <% }) %>
                </div>
                <% } %>

                    <form class="class-form" action="/inv/add-classification" method="post">
                        <p><em>Field is required</em></p>
                        <label class="class-label" for="classification_name">Classification Name:</label>
                        <input class="class-input" type="text" id="classification_name" name="classification_name" placeholder="Enter classification"
                            pattern="^[A-Za-z0-9]+$" required>

                        <p class="class-hint">* Classification name cannot contain spaces or special characters.</p>

                        <button class="class-btn" type="submit">Add Classification</button>
                    </form>
</main>