<main class="inv-mgmt-page">
    <h1 class="inv-mgmt-heading">Vehicle Management</h1>

    <!-- Flash Message -->
    <% if (messages && messages.length> 0) { %>
        <div class="inv-mgmt-flash">
            <%= messages[0] %>
        </div>
        <% } %>

            <ul class="inv-mgmt-links">
                <li><a href="/inv/add-classification">Add New Classification</a></li>
                <li><a href="/inv/add-inventory">Add New Inventory</a></li>
            </ul>
</main>